<li>
    <p>
        <strong> <%= sighting.date%> </strong><br/>
        <strong> longitude: <%= sighting.longitude %> </strong><br/>
        <strong> latitude: <%= sighting.latitude %> </strong><br/>
    </p>
</li>