<ul>
  <li>
    <%= link_to "Regions", "/regions"%>
  </li>
  <li>
    <%= link_to "Animals", "/animals"%>
  </li>
</ul>
<hr length=100%>

<h2>Edit sighting:</h2>

<%= render "form",{animal:@animal,
  sighting:@sighting}%>
