<ul>
  <li>
    <%= link_to "Regions", "/regions"%>
  </li>
  <li>
    <%= link_to "Animals", "/animals"%>
  </li>
</ul>
<hr length=100%/>

<h1>Edit animal name</h1>

<%= render "form", animal:@animal%>