<ul>
  <li>
    <%= link_to "Animals", root_path%>
  </li>
  <li>
    <%= link_to "Regions", "/regions"%>
  </li>
</ul>
<hr length=100%>

<h1>Add a new animal</h1>

<%= render "form", animal:@animal%>