<h1><%= @animal.animal %></h1>
<ul>
    <li>
        <%= link_to "Edit animal name", edit_animal_path%>
    </li>
    <li>
        <%= link_to "Delete animal", animal_path(@animal), data:{
            turbo_method:"delete",
            turbo_confirm:"Are you sure?"
        }%>
    </li>

</ul>

<ul>
    <%= render @animal.sightings %>
</ul>

