<ul>
    <li>
        <%= link_to "Animals", root_path%>
    </li>
</ul>
<hr length=100%>
<h1>Regions</h1>

<ul>
<% @regions.each do |region|%>
    <li>
        <%= link_to region.region, region%>
    </li>
<% end %>
</ul>
<%= link_to "Create a new region", new_region_path %>