<ul>
  <li>
    <%= link_to "Animals", root_path%>
  </li>
  <li>
    <%= link_to "Regions", "/regions"%>
  </li>
</ul>
<hr length=100%><h1>Edit region</h1>

<h1>Create a new region</h1>
<%= render "form", region:@region%>